body{
    margin:0;
    padding:0;
    color:#2D4E6B;
}
a{
    text-decoration: none;
    color:#2D4E6B;
}
main{
    font-family:'BebasNeuePro-Regular';
}
footer, h1, h2{
    font-family:'BebasNeue Regular';
}
nav, header{
    font-family:'BebasNeue Bold';
}

header{
    background-color: #DFEBF7;
    height: 7rem;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.liens{
    padding: 1rem;
    min-width: 20%;
    
}
.lien{
    margin: 0 5px;
}

#logo-vd-infini{
    height: 5rem;
    margin: 1rem;
}

@font-face {
    font-family: 'BebasNeuePro-Regular';
    src: url('../fonts/BebasNeuePro-Regular.ttf');
}
@font-face {
    font-family: 'BebasNeue Bold';
    src: url('../fonts/BebasNeue\ Bold.ttf');
}
@font-face {
    font-family: 'BebasNeue Book';
    src: url('../fonts/BebasNeue\ Book.ttf');
}
@font-face {
    font-family: 'BebasNeue Light';
    src: url('../fonts/BebasNeue\ Light.ttf');
}
@font-face {
    font-family: 'BebasNeue Regular';
    src: url('../fonts/BebasNeue\ Regular.ttf');
}
@font-face {
    font-family: 'BebasNeue Thin';
    src: url('../fonts/BebasNeue\ Thin.ttf');
}