body, h1{
    margin:0;
    padding:0;
}
body{
    color:#DFEBF7;
    background-color: #2D4E6B;
}
a{
    text-decoration: none;
    color:#DFEBF7;
}
main{
    font-family:'BebasNeuePro-Regular';
}
footer, h1, h2{
    font-family:'BebasNeue Regular';
}
nav, header{
    font-family:'BebasNeue Bold';
}
header{
    background-color: #DFEBF7;
    color: #2D4E6B;
}
header p{
    font-family: 'BebasNeuePro-Regular';
}
.bouton{
    border:2px solid #2D4E6B;
    border-radius: 1rem;
    background-color: #2D4E6B;
    color:#DFEBF7;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}
.flex-container-intro{
    display:flex;
    flex-direction: column;
    justify-content: start;
}
.flex-container-header{
    display:flex;
    justify-content:center;
}
.flex-container-nav{
    display: flex;
    justify-content: space-between;
}
.liens{
    padding: 1rem 0;
    align-self: self-end;
    display: flex;
    justify-content: end;
}
.lien{
    margin-right: 1rem;
}

#logo-vd-infini{
    align-self: center;
    height: 5rem;
    padding: 1rem;
}
#photo-moi, .flex-container-intro{
    width: 12rem;
    margin: 4rem;
}
#photo-moi{
    border-radius: 3rem;
    box-shadow: 6px 6px 9px 1px #2D4E6B99;
}

@font-face {
    font-family: 'BebasNeuePro-Regular';
    src: url('../fonts/BebasNeuePro-Regular.ttf');
}
@font-face {
    font-family: 'BebasNeue Bold';
    src: url('../fonts/BebasNeue\ Bold.ttf');
}
@font-face {
    font-family: 'BebasNeue Book';
    src: url('../fonts/BebasNeue\ Book.ttf');
}
@font-face {
    font-family: 'BebasNeue Light';
    src: url('../fonts/BebasNeue\ Light.ttf');
}
@font-face {
    font-family: 'BebasNeue Regular';
    src: url('../fonts/BebasNeue\ Regular.ttf');
}
@font-face {
    font-family: 'BebasNeue Thin';
    src: url('../fonts/BebasNeue\ Thin.ttf');
}